body, html {
    font-family: "museo-sans",sans-serif;
    }

p {
	margin-right: 10px;
}

h1 {
	color: #ffffff;
	text-align: left;
	padding-left: 20px;
	vertical-align: middle;
}

h3 {
	margin-left: 1.5%;
}

#header-one {
	background-image: url("images/IMG_4422.jpg");
	background-repeat: no-repeat;
	background-position: center;
	height: 200px;
	text-align: left;
	line-height: 160px;
}

#header-two {
	background-image: url("images/IMG_3760.jpg");
	background-repeat: no-repeat;
	background-position: center;
	height: 400px;
	text-align: left;
	line-height: 300px;
}

#left_side {
float:left;
width:60%;
background:#E0D1B2;
 }

#right_side {
float:right;
width:40%;
background:#FFFFCC;
}


#middle_content {
  float: left;
  border-width: 2px; 
  border-style: solid;
  border-color: black;
  border-bottom-width: 1px;
  background-color: #FFFFCC;
}

#section-facts {
   vertical-align: top;
   height: 100%;
  
  
  
}

#section-dreams {
  background-color: #E0D1B2;
  padding-left: 1%;
  text-align: center;
  border-width: 2px; 
  border-style: solid;
  border-color: black;
  border-bottom-width: 1px; 
}

#section-goals {
  background-color:#9FB17B;
  padding-left: 1%;
  text-align: center;
  font-size: 20px;
  border-top-width: 1px; 
  border-bottom-width: 1px; 
  border-style: solid;
  border-color: black;
  border-right-width: 2px; 
  border-right-style: solid;
  border-right-color: black;  
  border-left-width: 2px; 
  border-left-style: solid;
  border-left-color: black;
}


#mypic {
	float: left; 
	margin: 0px 15px 15px 0px;
	padding-left: 5px;
	padding-right: 5px;
}

#familypic {
	
	margin: 0px 15px 15px 0px;
	padding-right: 5px;
	padding-top: 25px;
}

#footer-one {
	clear: both;
	height: 100px;
	position: bottom;
	color: #ffffff;
	text-align: center;
	background-color: #9FB17B;
	line-height: 60px;
	border-style: solid;
    border-width: 2px;
    border-color: black;
    border-top-width: 1px;
}


#footer-two {
	height: 75px;
	position: bottom;
	color: #ffffff;
	text-align: center;
	background-color: #707070;
	line-height: 50px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-top-width: 1px;
}

.hidden { 
	display: none; 
    padding-left: 10px;
}

